<%- include('partials/header') %>

<div class="jumbotron text-center  bg-gray-200">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3 mb-5 font-bold">You've Discovered My Secret!</h1>

    <% usersWithSecrets.forEach((user) =>{ %>
      <p class="secret-text mt-4 text-center text-2xl bg-zinc-300 text-black p-3 rounded-full"><%= user.secret %></p>
    <% }) %>
    <hr> 
    <div class="mt-5">
      <a class="btn btn-light btn-lg ml-4" href="/logout" role="button">Log Out</a>
      <a class="btn btn-dark btn-lg ml-4" href="/submit" role="button">Submit a Secret</a>
    </div>
  </div>
</div>

<%- include('partials/footer') %>
